.DS_Store

# aichat
aichat/*
!aichat/roles.yaml

# iterm
iterm2/*
!iterm2/*.plist

# raycast
raycast

# tmux
tmux/plugins

# op
op

# zsh
zsh/*
!zsh/.zshrc

# brew
homebrew/*.lock.json

# ssh
ssh
!ssh/config
