.DS_Store

# nushell
nushell/history.txt

# aichat
aichat/*
!aichat/roles
!aichat/roles/*.yaml

# iterm
iterm2/*
!iterm2/*.plist

# raycast
raycast/*
!raycast/scripts

# tmux
tmux/plugins

# op
op

# zsh
zsh/*
!zsh/.zshrc

# brew
homebrew/*.lock.json

# ssh
ssh/*
!ssh/config
!ssh/conf.d
ssh/conf.d/*
!ssh/conf.d/.gitkeep

# lazygit
lazygit/*
!lazygit/config.yml

# rye
rye/*
!rye/config.toml

gh/*
!gh/config.yml

poetry/*
!poetry/config.toml

github-copilot

# zed
zed/*
!zed/settings.json

#gcloud
gcloud/*

# fish
fish/fish_variables
fish/completions/*
!fish/completions/kedro.fish
!fish/completions/poetry.fish
!fish/completions/marimo.fish

# karabiner
karabiner/*
!karabiner/karabiner.json

ngrok/*
